<!-- Top Nav -->
<div class="navbar navbar-fixed-top">

    <div class="container top-nav">
        <div class="navbar-header">
            <a class="navbar-brand top-nav-text" href="http://cazton.com/" target="_blank"><img src="../../images/cazton.png"> </a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="shopping-cart-wrapper" routerLink="/checkout">
                        <span class="md-stack shopping-cart-badge icon-badge" href="">
                            <i class="material-icons md-stack-2x md-18">brightness_1</i>
                            <strong class="md-stack-1x md-inverse icon-badge-text">{{cartItemCount}}</strong>
                        </span>
                        <span class="nav-text">
                            <i class="material-icons shopping-cart-icon">shopping_cart</i>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>